registry=https://registry.npmjs.org/
@astrosat:registry=https://npm.pkg.github.com/astrosat/
//npm.pkg.github.com/:_authToken=${GITHUB_REGISTRY_TOKEN}
//npm.pkg.github.com/astrosat/:_authToken=${GITHUB_REGISTRY_TOKEN}
