name: PUBLISH

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://npm.pkg.github.com/
          scope: '@astrosat'
      - run: |
          yarn install
          yarn test
          yarn build
          yarn publish
        env:
          CI: true
          GITHUB_REGISTRY_TOKEN: ${{secrets.ASTROSAT_GITHUB_REGISTRY_TOKEN}}
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
